<configuration>
	<dllmap os="osx" dll="libeay32" target="libcrypto.1.0.0.dylib"/>
	<dllmap os="osx" dll="ssleay32" target="libssl.1.0.0.dylib"/>
	<dllmap os="!windows,osx" dll="libeay32" target="libcrypto.so.1.0.0"/>
	<dllmap os="!windows,osx" dll="ssleay32" target="libssl.so.1.0.0"/>
</configuration>
