<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <!-- database configuration-->
  <startup>
    <system.data>
      <DbProviderFactories>
        <remove invariant="System.Data.SQLite" />
        <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" />
      </DbProviderFactories>
    </system.data>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  
  <!-- nhibernate configuration -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.4000" newVersion="3.3.0.4000" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- network-debugging configuration - useful for debugging ssl-connection. -->
  <!-- remove the line if you want to see TLS connection debugging info!
    <system.diagnostics>
      <sources>
        <source name="System.Net" tracemode="includehex" maxdatasize="1024">
          <listeners>
            <add name="System.Net"/>
          </listeners>
        </source>
        <source name="System.Net.Sockets">
          <listeners>
            <add name="System.Net"/>
          </listeners>
        </source>
        <source name="System.Net.Cache">
          <listeners>
            <add name="System.Net"/>
          </listeners>
        </source>
      </sources>
      <switches>
        <add name="System.Net" value="Verbose"/>
        <add name="System.Net.Sockets" value="Verbose"/>
        <add name="System.Net.Cache" value="Verbose"/>
      </switches>
      <sharedListeners>
        <add name="System.Net"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="ssl.log"
      />
      </sharedListeners>
      <trace autoflush="true"/>
    </system.diagnostics> 
    -->
</configuration>
