<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- http://stackoverflow.com/questions/4091606/most-useful-nlog-configurations -->
  <!-- https://github.com/jkowalski/NLog/tree/master/examples/targets/Configuration%20File -->
  
  <!-- log line definitions -->
  <variable name="verbose" value="[${level}] [${logger:shortName=true}]: ${message} ${onexception:${newline}Exception \=\> ${exception:format=tostring}${newline}StackTrace \=\> ${stacktrace:format=DetailedFlat}\]}"/>

  <targets>
    <target name="console" xsi:type="ColoredConsole" layout="${verbose}" /> <!-- colored console log-->
    <target name="debugger" xsi:type="Debugger" layout="${verbose}" /> <!-- routes to debugger -->
  </targets>

  <targets async="true">
    <target name="server" xsi:type="File" fileName="${verbose}" /> <!-- server log -->
    <target name="error" xsi:type="File" fileName="${basedir}/logs/error.log" layout="${verbose}" /> <!-- error log -->
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="console" /> <!-- let console log everything -->
    <logger name="*" minlevel="Debug" writeTo="server" /> <!-- let server.log log everything -->
    <logger name="*" minlevel="Warn" writeTo="error" /> <!-- let error.log log only warn, error and fatal messages -->
    <logger name="*" minlevel="Debug" writeTo="debugger" />
  </rules>
</nlog>
